@model Dswi_Proyecto_Topico.Models.ViewModels.AtencionModel;


@{
    ViewData["Title"] = "Registrar Atencion";
}
<h2 class="mb-4">Registrar Atencion</h2>

<div class="card shadow-sm mb-4">
    <div class="card-header bg-success text-white">
        Busqueda de Alumno
    </div>
    <div class="card-body">
        <form asp-action="BuscarAlumno" method="post" class="row g-03">@Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-9">
                <label class="form-label">Codigo del alumno</label>
                <input asp-for="Codigo" class="form-control" maxlength="10"
                       oninput="this.value = this.value.replace(/[^i0-9]/g, '')"
                       placeholder="Ingrese Código del Alumno. Ejemplo: i200000000" />

            </div>
            <div class="col-md-3 d-flex align-items-end">
                <button type="submit" class="btn btn-outline-success btn-sm w-100">
                    <i class="bi bi-search me-1"></i>
                    Buscar
                </button>

            </div>
    </form>
    </div>
</div>
@if (!Model.AlumnoEncontrado && ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger mt-2">
        El código ingresado no existe en el sistema.
        <br />
        <a asp-controller="Enfermera" asp-action="RegistrarAlumno" class="btn btn-primary mt-2">
            <i class="bi bi plus-circle me-1"></i>
            Registrar Alumno
        </a>
    </div>
}

    
<!--CUERPO-->   
        <form asp-action="RegistrarAtencion" method="post">@Html.AntiForgeryToken()
            <input type="hidden" asp-for="AlumnoId" />
            <input type="hidden" asp-for="AlumnoEncontrado" />
            
            
            

            <!--Datos del Alumno-->
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-success text-white">Datos del Alumno</div>
                <div class="card-body">
                    <input type="hidden" asp-for="AlumnoId" />

            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Codigo</label>
                    <input asp-for="Codigo" class="form-control" readonly />
                </div>
                <div class="col-md-6">
                    <label class="form-label">Nombre y apellidos Completos</label>
                    <input asp-for="NombreCompleto" class="form-control"  readonly />
                </div>
                <div class="col-md-6">
                    <label class="form-label">DNI</label>
                    <input asp-for="DNI" class="form-control" readonly />
                </div>
                <div class="col-md-6">
                    <label class="form-label">Telefono</label>
                    <input asp-for="Telefono" class="form-control" readonly />
                </div>
                <div class="col-md-6">
                    <label class="form-label">Correo</label>
                    <input asp-for="Correo" class="form-control" readonly />
                </div>
            </div>
        </div>
    </div>

    <!--Daatos de la Atencion Medica-->
<div class="card shadow-sm mb-4">
    <div class="card-header bg-success text-white">Datos de la Atención Médica</div>
    <div class="card-body">
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Fecha</label>
                    <input class="form-control" value="@Model.FechaAtencion.ToString("dd/MM/yyyy")" readonly />
                </div>
                <div class="col-md-6">
                    <label class="form-label">Hora</label>
                    <input class="form-control" value="@Model.HoraAtencion.ToString(@"hh\:mm")" readonly />
                </div>
                <div class="col-md-6">
                    <label class="form-label">Detalles Clínicos</label>
                    <textarea asp-for="DetallesClinicos" class="form-control"></textarea>
                    <span asp-validation-for="DetallesClinicos" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Diagnóstico Preliminar</label>
                    <textarea asp-for="DiagnosticoPreliminar" class="form-control"></textarea>
                    <span asp-validation-for="DiagnosticoPreliminar" class="text-danger"></span>
                </div>
            </div>
            </div>
            </div>

<!--Medicamentos Administrador-->
<div class="card shadow-sm mb-4">
    <div class="card-header bg-success text-white">
        Medicamentos Administrados
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalMedicamentos">
                <i class="bi bi-plus-circle me-1"></i>
                Agregar Medicamento
            </button>
        </div>

        <div id="tablaMedicamentos">
            @Html.Partial("_TablaMedicamentosSeleccionados", Model.Medicamentos)
        </div>
    </div>
</div>
<div class="d-flex justify-content-between mt-4">
<button type="submit" class="btn btn-outline-success px-4">
        <i class="bi bi-check-circle me-1"></i>
        Registrar
    </button>
    
    <!--Agendar Cita Boton-->
    
    <a asp-action="AgendarCita" class="btn btn-outline-success px-4">
        <i class="bi bi-calendar-plus me-1"></i>
        AgendarCita </a>
        </div>
 </form>


<!--Busaqueda de Medicamentos-->

<div class="modal fade" id="modalMedicamentos" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content shadow-sm">

            <div class="modal-header border-0">
                <h5 class="modal-title fw-semibold">
                    <i class="bg-info bi-capsule me-2"></i>
                    Buscar Medicamento
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <div class="row g-2 align-items-end mb-3">
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-text bg-light">
                                <i class="bi bi-search"></i>
                            </span>
                            <input type="text" id="filtroMedicamento" class="form-control" placeholder="Nombre o inicial del medicamento" />

                        </div>
                    </div>
                    <div class="col-md-3 d-grid">
                        <button class="btn btn-outline-success btn-sanna-green" id="btnBuscarMedicamento">
                            <i class="bi bi-search me-1"></i>
                            Buscar
                        </button>
                    </div>
                </div>
                <div id="resultadoMedicamentos">
                    <small class="text-muted">
                        <i class="bi bi-info-circle me-1"></i>
                        El stock se descontará al registrar la atencion
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>

@if(TempData["MensajeExito"] != null)
{
    <div class="modal fade" id="modalExito" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow">
                <div class="modal-header bg-succes text-while">
                    <h5 class="modal-title">
                        <i class="bi bi-check-circle me-2"></i>
                        Confirmación
                        </h5>
                    </div>
                    <div class="modal-body text-center">
                        <p class="fs-5 mb-0">
                            @TempData["MensajeExito"]
                            </p>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                                Aceptar
                                </button>
                            </div>
                            </div>
                         </div>
                 </div>
}
 
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    
    <script>
        
        function editarCantidad(medicamentoId, nuevaCantidad) {
            $.post('/Enfermera/EditarCantidad', { medicamentoId, nuevaCantidad })
                .done(function (partial) {  
                    $('#tablaMedicamentos').html(partial); 
                })
                .fail(function (err) { alert(err.responseText); });
        }

        
        function eliminarMedicamento(medicamentoId) {
            $.post('/Enfermera/EliminarMedicamento', { medicamentoId })
                .done(function (partial) {
                    $('#tablaMedicamentos').html(partial);
                })
                .fail(function (err) { alert(err.responseText); });
        }

        
            $(document).ready(function () {

            
            $('#modalMedicamentos').on('shown.bs.modal', function () {
                var filtro = ''; 
                $.get('/Enfermera/BuscarMedicamentos', { filtro: filtro })
                    .done(function (partial) {
                        $('#resultadoMedicamentos').html(partial);
                    });
            });

          
            $('#btnBuscarMedicamento').on('click', function (e) {
                e.preventDefault();
                var filtro = $('#filtroMedicamento').val();
                $.get('/Enfermera/BuscarMedicamentos', { filtro: filtro })
                    .done(function (partial) {
                        $('#resultadoMedicamentos').html(partial);
                    })
                    .fail(function () {
                        alert('Error al buscar medicamentos');
                    });
            });

        });

        document.addEventListener('DOMContentLoaded', function(){
            var modal = new bootstrap.Modal(document.getElementById('modalExito'));
            modal.show();
        });
    </script>
        
   
}